:root {
    --color-primary: #00806f;
    --color-secondary: #ffffff;
    --font-main: 'Arial', sans-serif;
    --spacing: 16px;
    --font-size-title: 3rem;
    --font-size-subtitle: 1.2rem;
    
  }
  